html, body {
    width:100%;
    height:100%;
    margin:0;
}

body{
    background:black;
    color:white;
    overflow:hidden;
}

#startScreen{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

.tapText{
    font-size:28px;
    animation:pulse 1.5s infinite;
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
}
